<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsNyMv_s5meQ4IIecjlCWKybBPFZJ1qoE</string>
	<key>GCM_SENDER_ID</key>
	<string>918019271795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tastelogApp</string>
	<key>PROJECT_ID</key>
	<string>globalrestaurants-7e661</string>
	<key>STORAGE_BUCKET</key>
	<string>globalrestaurants-7e661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918019271795:ios:bda90b9d8271c59073ce06</string>
</dict>
</plist>